@media (max-width: 600px) {
  body {
    font-size: 20px;
  }

  .main img {
    width:25%;
  }
  
  .card input[type=text], .card input[type=password], .card input[type=date], .card input[type=time], .card select{
    font-size: 16px;
  }
      
  .card input[type=submit] {
    font-size: 16px;
  }
           
  .card a {
    font-size: 20px;
    padding: 5px;
  }
}
  
