body { 
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;      
  font-size: 24px;
  font-weight: bold;
}

.header {
  background-color: springgreen;
  height: 70px;
  display: -webkit-box;
}
.header h3 {
  padding: 20px;
  font-size: 30px;
  margin-top: 0%;
}
 
.card {
  width: 100%;
}

.card input[type=text], .card input[type=password], .card input[type=date], .card input[type=time], .card select{
  width: 80%;
  padding: 12px;
  margin: 8px;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius: 10px;
  font-size: 18px;
}

.card input[type=submit] {
  width: 40%;
  background-color: springgreen;
  color: black;
  font-weight: bold;
  padding: 12px;
  margin: 15px;
  display: inline-block;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-size: 20px;
}

.card input[type=submit]:hover {
  background-color: lightgray;
}

.card a {
  color: green;
  padding: 25px;
  font-size: 20px;
  text-decoration: underline;
}

.card a:hover {
  color: red;
}